.container {
  background-color: #f4f6f9;
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-content {
  margin: 0 auto;
}

.table-container {
  background-color: white;
  display: flex;
  height: 60vh;
  width: 80vw;
  flex-direction: column;
  justify-content: center;
}

.text-input {
  margin-bottom: 10px;
}

.custom-table {
  border-collapse: collapse;
  background-color: white;
  margin: 20px;
  font-size: 18px;
  text-align: left;
}

.area-container {
  height: 40vh;
  overflow-y: auto;
}

.custom-table th,
.custom-table td {
  border: 1px solid #f4f6f9;
  padding: 9px;
  width: 40vw;
}

.custom-table th {
  background-color: #f4f6f9;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.results-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.results {
  margin: 30px;
}

.button-style{
  background-color: yellow;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
}

.search-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
